* {
    margin: 0;
    padding: 0;
}

.block {
    position: absolute;
    width: 40vw;
    height: 100vh;
    background: rgb(170, 149, 124);
    z-index: -1;
}

.border_left {
    position: absolute;
    width: 40vw;
    bottom: 100px;
    height: calc(200vh - 300px);
}

.left {
    width: 40vw;
    height: calc(100vh - 100px);
    top: 600px;
    background: rgb(114, 132, 167); 
    position: relative;
}

.left_scroll {
    position: relative;
    top: calc(100vh - 120px);
    height: 20px;
    background: rgb(110, 110, 112);
    display: flex;
    justify-content: center;
}

.block_arrow {
    position: absolute;
    width: 60vw;
    left: 40vw;
    height: 100vh;
    background: rgb(163, 110, 110);
}

.arrow {
    background: rgb(110, 110, 112);
    width: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.border_right{
    position: absolute;
    width: 60vw;
    bottom: 100px;
    height: calc(200vh - 300px);
}

.right {
    width: 60vw;
    height: calc(100vh - 100px);
    top: 300px;
    background: rgb(105, 168, 129); 
    position: relative;
}

.right_scroll {
    position: relative;
    top: calc(100vh - 120px);
    height: 20px;
    background: rgb(110, 110, 112);
    display: flex;
    justify-content: center;
}



.triangle_right {
    width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid black;
	border-bottom: 20px solid transparent;
}

.triangle_left {
    width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid black;
	border-bottom: 20px solid transparent;
    display: none;
}

.scroll {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    background: black;
    width: 30px;
    height: 5px;
    border-radius: 2px;
}